<!--The content below is only a placeholder and can be replaced.-->
<!-- <head><link href="app.componenet.css" rel="stylesheet"></head> -->
<div style="text-align:center">
        <!-- <header>iTrack</header> -->
        <h1>Log In</h1>        
        
        <div class="example-button-row">
          <button mat-flat-button color="primary">Log In</button>
         
        </div>
        
      </div>
      
      <!-- <footer>by Team</footer> -->
      
      
      
      <router-outlet></router-outlet>
      